{% extends 'weekdays/base.html' %}
{% block title %}
    Weekdays in 3 languages
{% endblock %}
{% block content %}
<ul class="mt-6 mx-6 py-12 bg-gray-100 rounded -xl">
    <li>Dushanba</li>
    <li>Seshanba</li>
    <li>Chorshanba</li>
    <li>Payshanba</li>
    <li>Juma</li>
    <li>Shanba</li>
    <li>Yakshanba</li>
</ul>
<ul class="mt-6 mx-6 py-12 bg-gray-100 rounded -xl" >
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
</ul>
<ul class="mt-6 mx-6 py-12 bg-gray-100 rounded -xl">
    <li>понедельник</li>
    <li>вторник</li>
    <li>среда</li>
    <li>четверг</li>
    <li>пятница</li>
    <li>суббота</li>
    <li>воскресенье</li>
</ul>
{% endblock %}